<section class="d-dropdown" id="site-map-dropdown">
  <ul class="location-links">
    <li>
      <a href="/latest" title="latest" class="latest-topics-link">conversations</a>
    </li>
    <li>
      <a href="/latest" title="latest" class="latest-topics-link">profile</a>
    </li>
    <li>
      <a href="/latest" title="latest" class="latest-topics-link">campsites</a>
    </li>
    <li>
    {{#link-to 'event-profile'}}events{{/link-to}}
    </li>
</section>
